.rad {
  color: blue;
  font-style: italic;
  font-weight: bolder;
}

.body {
  width: 100%;
}

.sidebar {
  background-color: #99ccff;
  border: 10px solid black;
  width: 20%;
  text-align: left;
}

.unimportant {
  width: 70%;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
}
