.rad {
  color: blue;
  font-style: italic;
  font-weight: bolder;
}

.unimportant {
  color: green;
  font-style: italic;
}

.important {
  background-color: gray;
}

img {
  display: block;
  margin: 0 auto;
}
